#general
pandas
tqdm
gpustat
nvitop
modelscope # load personal dataset     
addict     # modelscope required
tabulate

# llm evaluate
torch==2.6.0
datasets==4.0.0
transformers==4.51.1
peft              # lora

openai
fastchat

vllm==0.8.3
datasets
accelerate

#train
flash-attn
ring-flash-attn
deepspeed
wandb